.reveal section.title.present h1 {
    color: white;
    text-align: left;
}

.reveal section.title.present h2 {
    color: white;
    text-align: left;
}

section[data-state="vanity"] div.ulist {
    background-color: #f0f0f0c0
}

section[data-state="games"] h2 {
    color: white;
    background-color: gray;
}

section[data-state="games"] blockquote {
    color: white;
    background-color: gray
}

section[data-state="games"] div.attribution {
    color: white;
    background-color: gray;
}

section[data-state="badland"] h2 {
    color: white;
    text-align: left;
}

section[id="stl_adoption"] div.paragraph:nth-child(3) {
    color: white;
    text-align: left;
}

section[id="stl_adoption"] div.paragraph:nth-child(4) {
    color: white;
    text-align: right;
}

.reveal section img {
    border: 0;
    padding: 0;
    margin: 0;
    margin-right: 0.25em;
    box-shadow: initial;
    display: inline;
    vertical-align: middle;
}

section[id="recap"] ul {
    list-style-type: none;
}

section[id="recap_continued"] ul {
    list-style-type: none;
}