.reveal section.title.present h1 {
    color: white;
    text-align: left;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.5);
}

.reveal section.title.present h2 {
    color: white;
    text-align: left;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.5);
}

.reveal h2 {
    font-size: 1em;
}

.reveal section img {
    border: 0;
    padding: 0;
    margin: 0;
}

.reveal pre {
    width: 100%;
}
.reveal pre code {
    max-height: 100%;
}

section[data-state="GPU"] img {
    padding: .5em;
}

section[data-state="commute"] p {
    background-color: #222222
}
section[data-state="gpu_bug"] p, td {
    background-color: #222222
}
section[data-state="RSL"] h2 {
    background-color: #222222
}
section[data-state="RSL"] pre {
    width: 100% !important;
}

section[data-state="STL"] table colgroup col:nth-child(1) {
    width: 20% !important;
}
section[data-state="STL"] table colgroup col:nth-child(2) {
    width: 80% !important;
}

section[data-state="plan"] img {
    border: 0;
    padding: 0;
    margin: 0;
    margin-right: 0.25em;
    box-shadow: initial;
    display: inline;
    vertical-align: middle;
    background: none;
}
section[data-state="plan"] ul {
    list-style-type: none;
}

section[id="godbolt_cont"] pre { 
    font-size: .4em;
}
section[id="godbolt_cont"] ul { 
    font-size: .6em;
}
section[id="godbolt_cont"] table { 
    margin-left: -20%;
}

section[id="the_end"] img {
    border: 0;
    padding: 0;
    margin: 0;
    margin-right: 0.25em;
    box-shadow: initial;
    display: inline;
    vertical-align: middle;
}

section[id="attribution"] p {
    font-size: 1em;
    margin: 0;
    line-height: 1;
}
section[id="attribution"] ul {
    list-style-type: none;
}

section[data-state="no_list_decor"] ul {
    list-style-type: none;
}

section[id="the_end"] ul {
    list-style-type: none;
    text-align: center;
}