.reveal section.title.present h1 {
    color: white;
    text-align: left;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.5);
}

.reveal section.title.present h2 {
    color: white;
    text-align: left;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.5);
}

.reveal section img {
    border: 0;
    padding: 0;
    margin: 0;
}

/* shading drawing */
.reveal .slide-background:nth-of-type(5) {
    opacity: .2 !important;
}
/* pixar luxo */
.reveal .slide-background:nth-child(6) {
    opacity: .2 !important;
}

section[data-state="commute"] p {
    background-color: #222222
}

section[data-state="gpu_bug"] p, td {
    background-color: #222222
}

section[data-state="RSL"] h2 {
    background-color: #222222
}
section[data-state="RSL"] pre {
    width: 100% !important;
}